<div class="col m4" *ngFor="let item of items">
    <div class="card">
        <div class="card-image">
            <img [src]="item.images | noimage" class="puntero" (click)="goTo(item)">
        </div>
        <div class="card-content">
            <span class="puntero black-text" (click)="goTo(item)">{{ item.name }}</span>
            <span *ngFor="let artist of item.artists" class="new badge puntero" (click)="goTo(item)" data-badge-caption="">{{item.name}}</span>
        </div>
    </div>
</div>